In [2]:
!pip install faker

Collecting faker
  Downloading Faker-26.0.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: python-dateutil>=2.4 in /Users/kimonanagnostopoulos/miniconda3/lib/python3.12/site-packages (from faker) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /Users/kimonanagnostopoulos/miniconda3/lib/python3.12/site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Downloading Faker-26.0.0-py3-none-any.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 6.4 MB/s eta 0:00:00a 0:00:01
Installing collected packages: faker
Successfully installed faker-26.0.0

In [26]:
import pandas as pd
import numpy as np
from faker import Faker

In [36]:
filepath = 'data/team_stats.csv'
data = pd.read_csv(filepath)

transposed_data = data.set_index('Field').transpose()

In [45]:
fake = Faker()
n_teams = 1000
team_names = [fake.company() for _ in range(n_teams)]

transposed_value_counts = transposed_data.apply(pd.Series.value_counts, dropna=False).fillna(0)

In [46]:
transposed_value_counts

Field,Security,Humanities,Nat. Sci,Health,AI Ethics,Big Data,Robotics,Documents,Multimedia,NLP,KRR,Graphs,DL/ML,Funding,Application-Oriented,Number of Members,Academic Collaborations,System Maturity,Demos,Industrial Collaborations
Average,2.0,2,2.0,1,1,3,0.0,0.0,0.0,1,3,1,5,4,2,5.0,5,1,2,6
Good,0.0,4,1.0,2,3,3,0.0,1.0,2.0,2,6,2,4,2,4,5.0,2,7,7,2
Strong,1.0,1,0.0,2,1,3,1.0,2.0,1.0,2,1,1,3,4,7,4.0,5,5,4,2
NaN,11.0,7,11.0,9,9,5,13.0,11.0,11.0,9,4,10,2,4,1,0.0,2,1,1,4

In [47]:
# Function to generate synthetic data for the transposed structure
def generate_transposed_synthetic_data(transposed_value_counts, team_names):
    synthetic_data = pd.DataFrame(columns=transposed_value_counts.columns, index=team_names)
    
    for column in transposed_value_counts.columns:
        values = transposed_value_counts.index.tolist()
        probabilities = (transposed_value_counts[column] / transposed_value_counts[column].sum()).tolist()
        synthetic_data[column] = np.random.choice(values, len(team_names), p=probabilities)
    
    return synthetic_data

In [52]:
# Generate synthetic data for the transposed structure
synthetic_data = generate_transposed_synthetic_data(transposed_value_counts, team_names)

# Transpose the synthetic data back to match the original format
final_synthetic_data = synthetic_data.transpose()

# Save the final synthetic data to a CSV file in a different manner to avoid the previous error
final_csv_path_corrected = 'synthetic_data.csv'
final_synthetic_data.to_csv(final_csv_path_corrected, index=True)

In [51]:
final_synthetic_data.head()

,"Hall, Nelson and Parks",Krueger LLC,Lewis Ltd,Simpson Group,"Campbell, Gonzalez and Perez",Jones-Camacho,Mcintosh Group,"Bailey, Mcbride and Williams",Powers-Martin,Gallagher-Harris,...,Terry Inc,"Chung, Choi and Duncan",Hawkins and Sons,Porter-Frank,Mullins-Smith,Hill and Sons,"Anderson, Thomas and Miller",Williams PLC,Williams-Beard,Richardson-Fowler
Field,,,,,,,,,,,,,,,,,,,,,
Security,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,Average,nan,nan,nan,Average,nan,nan,Strong,nan
Humanities,nan,nan,nan,Good,Good,nan,nan,Strong,Good,Strong,...,nan,Good,Good,nan,nan,nan,Good,nan,Good,nan
Nat. Sci,nan,nan,nan,nan,Good,Average,Good,nan,nan,nan,...,nan,Good,nan,Average,Good,nan,nan,nan,nan,nan
Health,nan,nan,Average,Strong,nan,Good,Strong,Strong,Average,nan,...,Average,Average,nan,nan,nan,nan,Good,nan,nan,nan
AI Ethics,nan,Good,nan,nan,Good,Good,nan,nan,nan,nan,...,Average,nan,nan,nan,nan,nan,nan,nan,nan,nan